<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <div class="w-100 px-3 px-md-4 py-2">
      <!-- Título y subtítulo -->
      <div>
        <mat-card-title class="m-b-2">Formulario Comisiones</mat-card-title>
        <!-- <mat-card-subtitle class="f-s-14">
          Agregue las comisiones de los taxistas
        </mat-card-subtitle> -->
      </div>

      <!-- Buscador alineado a la derecha -->
      <form [formGroup]="formBuscar">
        <div class="d-flex justify-content-end align-items-center flex-wrap gap-2 mt-4 ">
          <mat-form-field appearance="outline" color="primary" style="width: 200px; margin: 0;">
            <mat-label>Buscar por cédula</mat-label>
            <input formControlName="cedula" matInput #pruebita type="number" placeholder="00000000" required />
            <mat-error>Este campo es requerido.</mat-error>
            <button mat-icon-button matSuffix aria-label="Buscar" (click)="consultarPorCedula(pruebita.value)">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </form>
    </div>
  </mat-card-header>

  <!-- <mat-card-header>
      <mat-card-title class="m-b-0">Formulario Comisiones</mat-card-title>
      <mat-card-subtitle class="f-s-14">Agregue las comisiones de los taxistas</mat-card-subtitle>
    </mat-card-header> -->
  <mat-card-content class="b-t-1">
    <form [formGroup]="formAgregar">
      <div class="row">
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Nombre</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input formControlName="nombre" matInput placeholder="Nombre completo" />
            <mat-error>Este campo es requerido.</mat-error>
          </mat-form-field>
        </div>
        <input type="text" class="d-none" formControlName="company_code" value="{{ sessionObj.user.company_code }}" />

        <div class="col-lg-6 m-b-4">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Número de placa</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input formControlName="numero_placa" matInput placeholder="ABC123" style="text-transform: uppercase;" />
            <mat-error>Este campo es requerido.</mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Personas referidas</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input formControlName="personas_referidas" #number_clientes matInput placeholder="Ej. 4" type="number" />
            <mat-error>Este campo es requerido.</mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Observaciones</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input formControlName="observaciones" matInput placeholder="Opcional" />
            <mat-error>Este campo es requerido.</mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Estado</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <mat-select formControlName="selectedValue" formControlName="estado" required placeholder="Pagado / No pagado">
              @for (pago of pagos; track pago.value) {
              <mat-option [value]="pago.value">{{ pago.viewValue }}</mat-option>
              }
            </mat-select>
            <mat-error>Este campo es requerido.</mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Total a pagar</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <!-- <input matInput placeholder="ABC123" [disabled]="!formActivo" /> -->
            <!-- <input [disabled]="!formActivo" matInput [value]="'$ ' + calcularComision(number_clientes.value) + ' MIL PESOS'" disabled> -->
            <input matInput [value]="'$ ' + calcularComision(number_clientes.value) + ' MIL PESOS'" readonly>

            <mat-error>Este campo es requerido.</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="m-t-12">
        <button mat-flat-button color="primary" class="m-r-8" matTooltip="Guarda los cambios" (click)="guardarComision()">Guardar</button>

        <button mat-stroked-button color="warn" matTooltip="Cancelar y volver atras " [routerLink]="['/dashboard']">Cancelar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>