<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">{{ modoFormulario === 'agregar' ? 'Agregar Reserva' : 'Editar Reserva' }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form [formGroup]="formAgregar" (ngSubmit)="onSubmit()">
      <div class="row">

        <!-- Nombre -->
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Nombre</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input formControlName="nombre" matInput placeholder="Nombre completo " />
            <mat-error *ngIf="formAgregar.get('nombre')?.invalid && formAgregar.get('nombre')?.touched">
              El nombre es obligatorio
            </mat-error>

          </mat-form-field>
        </div>
        <input type="hidden" formControlName="company_code">
        <!-- Cédula -->
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Cédula</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input formControlName="cedula" matInput type="number" placeholder="00000000" />
            <mat-error *ngIf="formAgregar.get('cedula')?.invalid && formAgregar.get('cedula')?.touched">
              Este campo es requerido.</mat-error>
          </mat-form-field>
        </div>

        <!-- Teléfono -->
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Teléfono</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input formControlName="telefono" matInput type="number" placeholder="Ej: 3000000" />
            <mat-error *ngIf="formAgregar.get('telefono')?.invalid && formAgregar.get('telefono')?.touched">
              Este campo es requerido.</mat-error>
          </mat-form-field>
        </div>



        <!-- Teléfono -->
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Cantidad de personas</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input formControlName="cantidad" matInput type="number" placeholder="Ej: 3" />
            <mat-error *ngIf="formAgregar.get('cantidad')?.invalid && formAgregar.get('cantidad')?.touched">
              Este campo es requerido.</mat-error>
          </mat-form-field>
        </div>

        <!-- Teléfono -->


        <!-- mat-select -->
        <div class="col-lg-6">

          <mat-label class="f-w-600 m-b-8 d-block">Seleccionar lugar</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <mat-select formControlName="lugar_reserva" name="lugar">
              <mat-option *ngFor="let lugar of lugares" [value]="lugar.value">
                {{ lugar.viewValue }}
              </mat-option>

            </mat-select>
            <mat-error *ngIf="formAgregar.get('lugar_reserva')?.invalid && formAgregar.get('lugar_reserva')?.touched">
              Este campo es requerido.</mat-error>
          </mat-form-field>

        </div>


        <!-- Fecha y Hora -->

        <div class="col-lg-6"> <mat-label class="f-w-600 m-b-8 d-block">Seleccionar fecha</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input formControlName="fecha_reserva" matInput [matDatepicker]="datepicker" name="date"
              (focus)="datepicker.open()" (click)="datepicker.open()" />
            <mat-datepicker #datepicker></mat-datepicker>
            <mat-datepicker-toggle [for]="datepicker" matSuffix></mat-datepicker-toggle>
            <mat-error *ngIf="formAgregar.get('fecha_reserva')?.invalid && formAgregar.get('fecha_reserva')?.touched">
              Este campo es requerido.</mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Seleccionar hora</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
          <input formControlName="hora_reserva" matInput type="time" />

            <mat-error *ngIf="formAgregar.get('hora_reserva')?.invalid && formAgregar.get('hora_reserva')?.touched">Este
              campo es requerido.</mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Observaciones</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input formControlName="observaciones" matInput type="text" placeholder="Opcional" />
            <mat-error
              *ngIf="formAgregar.get('observaciones')?.invalid && formAgregar.get('observaciones')?.touched">Este campo
              no es obligatorio.</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="m-t-12">
        <button mat-flat-button matTooltip="Guardar los cambios " color="primary" class="m-r-8" type="submit">Guardar</button>
        <button mat-stroked-button color="warn" matTooltip="Cancelar y volver atras " [routerLink]="['/dashboard']">Cancelar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>