<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Formulario Taxistas</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form [formGroup]="formAgregar" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Nombre</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input formControlName="nombre" matInput placeholder="Nombre completo " />
          <mat-error>Este campo es requerido.</mat-error>
          </mat-form-field>
        </div>

  
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Cédula</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input formControlName="cedula" matInput type="number" placeholder="00000000" />
          <mat-error>Este campo es requerido.</mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Teléfono</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input formControlName="telefono" matInput type="number" placeholder="300000000" />
          <mat-error>Este campo es requerido.</mat-error>
          </mat-form-field>
        </div>
       
  
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Número de placa</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input formControlName="numero_placa" matInput placeholder="ABC123" />
          <mat-error>Este campo es requerido.</mat-error>
          </mat-form-field>
        </div>
          <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Sexo</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <mat-select [(ngModel)]="selectedValue" formControlName="sexo" required placeholder="Masculino / Femenino">
              @for (pago of sexo_s; track pago.value) {
              <mat-option [value]="pago.value">{{ pago.viewValue }}</mat-option>
              }
            </mat-select>
            <mat-error>Este campo es requerido.</mat-error>
          </mat-form-field>
        </div>

      <div class="col-lg-6">
        <mat-label class="f-w-600 m-b-8 d-block">Fecha de nacimiento</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input formControlName="fecha_nacimiento" matInput autocomplete="off" [matDatepicker]="datepicker" [(ngModel)]="value" name="date" (focus)="datepicker.open()"
            (click)="datepicker.open()" />
          <mat-datepicker #datepicker></mat-datepicker>
          <mat-datepicker-toggle [for]="datepicker" matSuffix></mat-datepicker-toggle>
          <mat-error>Este campo es requerido.</mat-error>
        </mat-form-field>
      </div>
       </div>
      <div class="m-t-12">
        <button mat-flat-button color="primary" class="m-r-8" type="submit">Guardar</button>
        <button mat-stroked-button color="warn" [routerLink]="['/dashboard']"
          routerLinkActive="router-link-active">Cancelar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>