<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">{{ modoFormulario === 'agregar' ? 'Agregar Taxista' : 'Editar Taxista'
      }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form [formGroup]="formAgregar" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Nombre</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input formControlName="nombre" matInput placeholder="Nombre completo " />
            <mat-error>Este campo es requerido.</mat-error>
          </mat-form-field>
        </div>
        <input type="text" class="d-none" formControlName="company_code"  />

        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Cédula</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <!-- <mat-label>Cédula</mat-label> -->
            <input matInput type="number" formControlName="cedula" placeholder="00000000" />
            <mat-error *ngIf="formAgregar.get('cedula')?.hasError('cedulaDuplicada')">
              Ya existe un taxista registrado con esa cédula.
            </mat-error>
          </mat-form-field>

        </div>
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Teléfono</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input formControlName="telefono" matInput type="number" placeholder="300000000" />
            <mat-error>Este campo es requerido.</mat-error>
          </mat-form-field>
        </div>


        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Número de placa ( ABC123 )</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input formControlName="numero_placa" matInput placeholder="ABC123" style="text-transform: uppercase;" />
            <mat-error *ngIf="formAgregar.get('numero_placa')?.hasError('required')">
              El número de placa es obligatorio
            </mat-error>
            <mat-error *ngIf="formAgregar.get('numero_placa')?.hasError('pattern')">
              La placa debe tener 3 letras seguidas de 3 números (ej: ABC123)
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Sexo</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <mat-select formControlName="selectedValue" formControlName="sexo" required placeholder="Masculino / Femenino">
              @for (pago of sexo_s; track pago.value) {
              <mat-option [value]="pago.value">{{ pago.viewValue }}</mat-option>
              }
            </mat-select>
            <mat-error>Este campo es requerido.</mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Fecha de nacimiento</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input formControlName="fecha_nacimiento" matInput autocomplete="off" [matDatepicker]="datepicker"
               name="date" (focus)="datepicker.open()" (click)="datepicker.open()" />
            <mat-datepicker #datepicker></mat-datepicker>
            <mat-datepicker-toggle [for]="datepicker" matSuffix></mat-datepicker-toggle>
            <mat-error>Este campo es requerido.</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="m-t-12">
        <button mat-flat-button color="primary" matTooltip="Guardar los cambios"  class="m-r-8" type="submit">Guardar</button>
        <button mat-stroked-button color="warn" matTooltip="Cancelar y volver atras " type="button" (click)="volverAtras()">Cancelar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>